.accordion-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F9FF;
  padding-bottom: 3rem;
}

.accordion-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 2rem;
  background: #FFF;
  padding: 2rem 0 2rem 0;  
  position: relative;
}

.accordion-title {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 5.5rem;
}

.accordion-title__icon {
  position: absolute;
  top: 7rem;
  left: 35%;
  &--down {
    position: absolute;
    top: 10rem;
    left: 64%; 
}
}

.accordion-label {
  width: 100%;
  padding-left: 2rem;
  color: #2E3A59;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  

  &:before {
    content:url(../icons/faq/plus.svg);
    width: 10px;
    height: 10px;
    top: 42%;
    right: 2.5rem;
    transform: translateY(-50%);
    position: absolute;
    transition: transform .5s ease;
  }  
}
.accordion-wrapper.active .accordion-label::before {
  top: 19%;
  transform: rotate(45deg);
}

.accordion-wrapper .accordion-content {
  position: relative;
  top: 105%;
  left: 2%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  
  border-left: 0.1rem solid #0AA6FE;
  padding-left: 1rem;
  
  // .active & {
  //   height: auto;
  // }
}

.accordion-wrapper.active .accordion-content {
  height: auto;
  padding: 1rem;
}
.accordeon-divider {
  width: 4rem;
  height: 0.2rem;
  padding: 0.2rem;
  transform: rotate(90deg);
  background: linear-gradient(121deg, #0AA6FE 31.33%, #05FFFF 101.79%);
  top: 1rem;
  left: 2%;
}

.accordion-link {
  text-decoration: underline;
  color: #0AA6FE;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 3rem;
}
