.accordion-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F9FF;
  // position: relative;
  padding-bottom: 3rem;
}

.accordion-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 2rem;
  background: #FFF;
  position: relative;
}

.accordion-title {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 5.5rem;
}

.accordion-title__icon {
  position: absolute;
  top: 7rem;
  left: 35%;
  &--down {
    position: absolute;
    top: 10rem;
    left: 64%; 
}
}

.accordion-label {
  border-radius: 5px;
  color: #2E3A59;
  font-size: 1.1rem;
  font-weight: 600;
  list-style: none;
  cursor: pointer;
  position: absolute;
  transform: translateX(20%);

}
 
.accordion-label-icon {
  top: 31%;
  right: 3.5rem;
  position: absolute;
}

.accordion-content {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
  border-left: 0.1rem solid #0AA6FE;
  padding-left: 1rem;
  margin: 3.5rem 0 2rem 2rem;
  margin-bottom: 2rem;
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  .active & {
    height: auto;
  }
}

.accordion-link {
  text-decoration: underline;
  color: #0AA6FE;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 3rem;
}
