.advantages-section {
    display: flex;
    background: #F5F9FF;
}
//Left side
.advantages__platforms-wrap{
    width: 50%;
}

.advantages__platforms {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 10rem 0 20.5rem;
}

.advantages__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: #AAA;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 0.3rem;
    background: #FFF;
    box-shadow: 0 15px 25px rgba(#000, 0.03);
    padding: 1.5rem 1.5rem 1.5rem 5rem;
    margin-right: 1rem;

    &:last-child {
        margin-right: none;
    }
}

.advantages__btn-windows {
    position: absolute;
    top: 1.2rem;
    left: 15%;
}   
.advantages__btn-android {
    position: absolute;
    top: 1rem;
    left: 15%;
}
.advantages__btn-iOS {
    position: absolute;
    top: 1.2rem;
    left: 15%;
    
}

.advantages__carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
      &--left-btn {
         margin-left: 2rem;   
    }
}

.advantages__phone-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
    
}

// Right side
.advantages__descr {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 4rem;
.advantages__descr-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 4rem;
    
    &-red {
        
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF3B3B;    
        width: 18rem;
    }
    &--margin {
        margin-left: 1rem;
    }
}
   
}

.advantages__descr-unichite {
    color: #828282;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 1.5rem 0 4rem 0;
    
}

.advantages__descr-list {
    color: #2E3A59;
    font-size: 1rem;
    font-weight: 400;
    line-height: 4rem;
    ul{
        list-style-image: url(/src/icons/fuctional/romb.svg);
        margin-left: 2rem;
    }
    span {
        color: #2E3A59;
        text-align: justify;
        font-size: 1rem;
        font-weight: 700;
    }
    
}
.advantages__descr-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem 4rem 2rem 1rem;
    background-color: #fff;
    color: #828282;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
    &--icon {
        margin-right: 1rem;
    }
}
