.advantages-section {
    background: #F5F9FF;
    display: flex;
}

//Left side
.advantages__platforms-wrap {
    width: 50%;
}

.advantages__platforms {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 2rem 10rem 0 20.5rem;
}

.advantages__btn {
    align-items: center;
    background: #FFF;
    border-radius: 0.3rem;
    box-shadow: 0 15px 25px rgba(#000, 0.03);
    color: #aaa;
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
    font-weight: 700;
    margin-right: 1rem;
    padding: 1.625rem 2rem 1.625rem 1.5rem;
    position: relative;

    &:last-child {
        margin-right: none;
    }
}

.advantages__btn-icon {
    margin-right: 1rem;
}

.advantages__carousel {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.advantages__phone {
    align-items: center;
    display: flex;
    flex-direction: column;

    &--left-btn {
        margin-left: 2rem;
    }
}

.advantages__phone-btn {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
}

// Right side
.advantages__descr {
    align-items: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4rem;
    width: 50%;
}

.advantages__descr-btn {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;

    &-red {
        align-items: center;
        background: #FF3B3B;
        display: flex;
        justify-content: center;
        width: 18rem;
    }

    &--margin {
        margin-left: 1rem;
    }
}

.advantages__descr-unichite {
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    margin: 1.5rem 0 4rem 0;
    text-align: center;
}

.advantages__descr-list {
    color: #2E3A59;
    font-size: 1rem;
    font-weight: 400;
    line-height: 4rem;

    ul {
        list-style-image: url(/src/icons/fuctional/romb.svg);
        margin-left: 2rem;
    }

    span {
        color: #2E3A59;
        font-size: 1rem;
        font-weight: 700;
        text-align: justify;
    }
}

.advantages__descr-warning {
    align-items: center;
    background-color: #fff;
    color: #828282;
    display: flex;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
    margin-top: 2rem;
    padding: 2rem 4rem 2rem 1rem;

    &--icon {
        margin-right: 1rem;
    }
}
