.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(99deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.08);
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1.7rem 1.5rem;
    cursor: pointer;
    &--video {
        margin-left: 2rem;
        width: 18rem;
        border: 1px solid #A9EAFF;
        background:rgba(0, 0, 0, 0);
        
    }

    &--buy {
        display: flex;
        flex-direction: row;
        align-items: center;
        .promo__btn--margin {
            margin-left: 2rem;
        }
    }
    &--tariffs {
        border-radius:  0 0 5px 55px;
        width: 416px;
        height: 76px;
    }

}
    
.contact__btn {
    border-radius: 5px;
    background: linear-gradient(99deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.08);
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.slider__btn-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 115px;
    transform: rotate(-45deg);
    position: absolute;
    border-radius: 15px;
    background: linear-gradient(103deg, #0AA6FE -49.1%, #05FFFF 177.15%);
    box-shadow: 0px 0px 25px 0px rgba(0, 50, 180, 0.30) inset, 0px 4px 25px 0px rgba(10, 166, 254, 0.48);
    top: 4rem;
    right: -7.2%;

    .shevron__right {
        transform: rotate(40deg);
        margin-left: 0.5rem;
        }
    
}

.slider__btn-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 115px;
    transform: rotate(-45deg);
    position: absolute;
    border-radius: 15px;
    background: linear-gradient(103deg, #0AA6FE -49.1%, #05FFFF 177.15%);
    box-shadow: 0px 0px 25px 0px rgba(0, 50, 180, 0.30) inset, 0px 4px 25px 0px rgba(10, 166, 254, 0.48);
    top: 4rem;
    left: -7.2%;
    
    .shevron__left {
        transform: rotate(40deg);
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
