.advantages__platforms-wrap{
    width: 50%;
}
.advantages__platforms {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 10rem 2rem 20.5rem;
}

.advantages__btn {
    position: relative;
    color: #AAA;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 0.3rem;
    background: #FFF;
    box-shadow: 0 15px 25px rgba(#000, 0.03);
    padding: 1.625rem 2rem 1.625rem 5.1875rem;
    margin-right: 1rem;

    &:last-child {
        margin-right: none;
    }
}

    .advantages__btn-icon {
        margin-right: 1rem;
    }



.advantages__carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__phone {
    &--iphone{
        margin: 2.5rem 16rem 2.5rem 23rem;
    }
}

