.promo {
  background: linear-gradient(113deg, #1A47EA 3.44%, #82E9FF 96.25%);
  left: 0;
  padding-bottom: 12.6rem;
  position: relative;
  top: 0;
}

.promo__title {
  padding-top: 12rem;
}

.promo__descr {
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  width: 40.5rem;
}

.promo__btn {
  display: flex;
  margin-bottom: 9rem;
  margin-top: 2.875rem;
  position: relative;
}

.promo__car {
  bottom: 15rem;
  position: absolute;
  right: 0%;
}

.promo__weappon {
  bottom: 5rem;
  left: 13%;
  padding-top: 1rem;
  position: absolute;
  z-index: 10;
}

.promo__wave {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.promo__line {
  background: linear-gradient(121deg, #FFAC8B 31.33%, #FF4900 101.79%);
  height: 0.3rem;
  left: 0;
  margin: 1.5rem 0;
  max-width: 9rem;
  top: 0;
}

.promo__snake {
  position: absolute;
  right: 40%;
  top: 10rem;
}