.promo {
    background: linear-gradient(113deg, #1A47EA 3.44%, #82E9FF 96.25%);
    // background: url(/src/img/bg/promo__solid.png) center center/cover no-repeat;
    top: 0;
    left: 0;
    padding-bottom: 12.6rem;
    position: relative;

    &__title {
        padding-top: 12rem;
    }
    
.promo__descr {
    width: 40.5rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.promo__btn {
    position: relative;
    display: flex;
    margin-top: 2.875rem;
    margin-bottom: 9rem;
    // margin-bottom: 9rem;
    

}
.promo__car {
    position: absolute;
    bottom: 15rem;
    right: 0%;
}
.promo__weappon {
    position: absolute;
    padding-top: 1rem;
    bottom: 5rem;
    left: 13%;
    z-index: 10;
}
.promo__wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.promo__line {
    margin: 1.5rem 0;
    top: 0;
    left: 0;
    background: linear-gradient(121deg, #FFAC8B 31.33%, #FF4900 101.79%);
    max-width: 9rem;
    height: 0.3rem;
}
.promo__snake {
    top: 10rem;
    right: 40%;
    position: absolute;
}
}

// .parallax{
//     background-attachment: fixed;
//     background-image: url(/src/img/car.png) 0 center no-repeat;
//     max-width: 100%;
//     max-height: 100%;
// }