.clients-section {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(/src/img/comments/wave_second.png) center center/cover no-repeat;
    background: linear-gradient(113deg, #1A47EA 3.44%, #82E9FF 96.25%);
    width: 100%;
    position: relative;
}

.clients-section__wave {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.slider {
    background-color: #fff;
    max-width: 840px;
    margin: 5rem auto 0;
    min-height: 240px;
    width: 100%;
    position: relative;
}

.slider__item {
    position: absolute;
    visibility: hidden;
    text-align: center;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease-in-out;
  }

  .slider__item--active {
    opacity: 1;
    visibility: visible;
  }

.slider__item-photo {
    background-color: #eee;
    border-radius: 50%;
    margin-top: -32px;
}

.slider__item-up {
    top: -1.5rem;;
    left: 0;
    position: absolute;
}

.slider__item-down {
    bottom: -1.5rem;;
    right: 0;
    position: absolute;
}

.slider__item-subtitle {
    color: #2E3A59;
    font-size: 1.1rem;
    font-weight: 600;
    
    &::after {
        content:'';
        width: 29px;
        height: 11px;
        border-radius: 5px 55px;
        background: linear-gradient(99deg, #FF9898 14.64%, #FF1F00 102.27%);
        box-shadow: 0 20px 35px rgba(#000, 0.05);
        display: inline-block;
    }
}


.slider__item-descr {
    color: #2E3A59;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 1.1rem;
}



