.promo__title {
    h1 {
        font-size: 4rem;
    }
    color: #FFF;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    .promo__title-icon {
        top: 11.5rem;
        left: 13.9%;
        position: absolute;
    
    }

}

.promo__subtitle {
    color: #2E3A59;
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 800;
}

.advantages__descr-title {
    color: #2E3A59;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 2rem;
}