* {
    font-family: Montserrat, sans-serif;
    margin: 0rem;
    border: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

// Base
@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantages';

// Blocks
@import 'blocks/section';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/slider';
@import 'blocks/tariffs';
